{% extends "html/wrapper.html" %}

{% block home %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-info text-center">Влияние глобального потепления на животных</h1>
        </div>

    </div>
    <div class="row">
        <div class="col-4">
            <p class="text-success text-right" >ХОРОШО?</p>
        </div>
        <div class="col-4">
            <p class="text-info text-center">ИЛИ</p>
        </div>
        <div class="col-4">
            <p class="text-danger text-left">ПЛОХО?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" align="center">
            {% load staticfiles %}
            <img src="{% static 'image/earth' %}" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="text-info text-center">Весна начинается раньше</h1>
            <p class="text-dark text-center" >Из-за повышения температур весна начинается раньше, что приводит к некоторым осложнениям для
            животных:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" align="center">
            <ul>
                <li class="list-group-item">
                    <h6>Весна приходит раньше, но не мухоловка</h6>
                    Мухоловка-пеструшка весной живет по достаточно жесткому расписанию.
                    Проводя зиму в Африке, эти птицы преодолевают тысячи километров на север,
                    в Европу, чтобы успеть отложить яйца до появления гусениц зимней пяденицы,
                    которые живут всего несколько недель весной на только появившихся листьях дубов.
                    <p class="text-danger">Мухоловки стали опаздывать и уже не попадают в это узкое временное окно.
                    </p>
                    <img class="img-fluid" src={% static 'image/muholovka-pestrushka.jpg'%}>
                </li>
                <li class="list-group-item text-center">
                    <h6>Контакт птиц и тракторов</h6>
                    В Финляндии, например, чибис и большой кроншнеп обычно вили свои гнезда на полях ячменя после того, как фермеры засеивали поля весной.
                    Но так как значения температуры повысились, теперь птицы все чаще откладывают яйца до того, как фермеры добираются до полей,
                    <p class="text-danger">что означает, что их хорошо укрепленные гнезда подвергаются риску быть разрушенными трактором или другой техникой.</p>
                    <img class="img-fluid" src={% static 'image/images.jpeg'%} >
                </li>
                <li class="list-group-item text-center">
                    <h6>Северный олень опаздывает на обед</h6>
                    Северный олень на западе Гренландии следует строгой сезонной диете. Зимой они едят лишайники вдоль побережья.
                    Весной и летом они перемещаются в глубь острова для рождения потомства, где питаются арктическими растениями.
                    Так как в Гренландии наблюдается значительное потепление и таяние ледников,
                    арктические растения в глубине острова стали всходить раньше (некоторые даже на 26 дней),
                    чем десятилетие назад. Но северные олени не могут так быстро изменить время своей миграции.
                    Ученые обнаружили тревожную тенденцию в этом регионе: чем раньше всходили растения на острове, тем больше погибало телят.
                    Несмотря на то, что исследование всего лишь выявило корреляцию между более высокой температурой и <span class="text-danger">смертностью телят</span>,
                    «этот факт соотносится с идеей того, что несоответствие имеет негативные последствия»,
                    говорит Эрик Пост, профессор экологии Калифорнийского университета в Дэйвисе. Чем раньше появляются арктические растения,
                    <span class="text-danger">тем более крепкими и менее полезными и питательными они становятся к приходу оленей.</span>
                    <p class="text-danger"></p>
                    <img class="img-fluid" src={% static 'image/severnyi-olen.jpg'%}>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="text-info text-center">Но некотрым и хуже.</h1>
            <p class="text-dark text-center" >Мы не можем даже представить
                себе результат влияния повышенния глобальной температуры на
                человеческую цивилизацию, однако уже сейчас заметно воздействие
                на некоторых наших любимых животных.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12" align="center">
            <ul>
                <li class="list-group-item">
                    <h6>Императорский пингвин</h6>
                    эти антарктические животные чрезвычайно восприимчивы к изменениям климата,
                    и их популяции могут исчезнуть даже при незначительном потеплении
                    (например, если потеплеет до -6° С вместо привычных -12° С).
                    <span class="text-danger">Если изменение климата будет продолжаться нынешними темпами,
                        эксперты предупреждают, что императорский пингвин может потерять 90%
                        нынешней численности к 2100 году, а это приведет к полному исчезновению этих птиц.</span>
                    <img class="img-fluid" src={% static 'image/imperial.jpg'%}>
                </li>
                <li class="list-group-item">
                    <h6>Коала</h6>
                    Коала, сама по себе, не является наиболее уязвимым животным к повышению температуры,
                    как и другие сумчатые Австралии, такие как кенгуру и вомбаты.
                    Проблема заключается в том, что коалы, в большей степени, питаются листьями эвкалипта,
                    а это дерево чрезвычайно чувствительное к изменению температуры и сухости:
                    около 100 видов эвкалипта растут очень медленно,
                    а их семена распространяются в довольно узком диапазоне,<span class="text-danger">что
                    не позволяет расширить среду обитания и избежать катастрофы.</span>
                    <img class="img-fluid" src={% static 'image/koala.jpg'%}>
                </li>
                <li class="list-group-item">
                    <h6>Полярный медведь</h6>
                    Поскольку, площадь льдов уменьшается и они отдаляются друг от друга,
                    повседневная жизни белого медведя становится все более нестабильной
                    <p class="text-danger">По некоторым оценкам, популяции белого медведя в мире,
                        уменьшатся на 70% к 2050 году, если ничего не предпринять, чтобы остановить изменения климата.</p>
                    <img class="img-fluid" src={% static 'image/bears.jpg'%}>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="text-info text-center">ГЛОБАЛЬНОЕ ПОТЕПЛЕНИЕ УБИВАЕТ ЖИВОТНЫХ</h1>
            <p class="text-dark text-center" >Основной причиной массовой гибели животных является увеличение площади
                засушливых районов, расширяющихся из-за глобального потепления.</p>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
        <p class="lead text-center">Чрезвычайно вероятно, что влияние человека было основной причиной потепления, наблюдаемого с середины ХХ-го века…</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="text-info text-center">Как бороться с глобальным потеплением?</h1>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <p class="lead text-center">Глобальное потепление во многом обусловлено выбросами углекислого газа.
                К сожалению, современная мировая экономика в значительной степени зависит от углеродных видов топлива.
                По этой причине борьба с глобальным потеплением может выглядеть как бессмысленная трата времени.
                Тем не менее, есть множество способов ослабить его влияние. Пересмотрите свои потребительские привычки
                и сделайте шаг в сторону экономии энергии и кооперированию с другими людьми, чтобы внести свою лепту в
                борьбу с глобальным потеплением.В итоге вы не только поможете спасти планету,
                но и получите удовольствие от просветительской работы и изменения ситуации к лучшему.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" align="center">
            <h5 class="text-info">Метод <span class="text-danger">1</span> Пересмотр потребительских привычек</h5>
            <ol class="list-group">
                <li class="list-group-item">
                    <h6>1. Уменьшите потребление продуктов.</h6>
                    <p>Поскольку приготовление и транспортировка мяса животных и
                        продуктов животного происхождения потребляют много энергии,
                        воды и других ресурсов, ограничив их потребление, можно снизить свой углеродный след.</p>
                </li>
                <li class="list-group-item">
                    <h6>2. Покупайте продукцию местного производства.</h6>
                    <p>Ограничив потребление продуктов, которые привозят к вам издалека,
                        вы не только поможете местной экономике, но и уменьшите их суммарный углеродный след.</p>
                </li>
                <li class="list-group-item">
                    <h6>3. Перерабатывайте и повторно используйте все, что сможете.</h6>
                    <p>создания определенных материалов с нуля требуется много энергии,
                        переработка и повторное использование позволяют уменьшить затраты энергии,
                        необходимые для производства новых товаров. Используйте корзины для переработки,
                        установленные местными властями.</p>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
            <div class="col-12" align="center">
                <h5 class="text-info">Метод <span class="text-danger">2</span> Экономия энергии</h5>
                <ol class="list-group">
                    <li class="list-group-item">
                        <h6>1. Ограничьте количество поездок. </h6>
                        <p>Поскольку автомобили являются одной из главных причин,
                            ответственных за глобальное потепление, чем меньше вы будете садиться за руль,
                            тем больше пользы это принесет.</p>
                    </li>
                    <li class="list-group-item">
                        <h6>2. Пересядьте на велосипед.</h6>
                        <p>Купите новый или поддержанный велосипед или отремонтируйте сломанный.
                            И хотя вам необязательно все время ездить на велосипеде,
                            используйте его для поездок в черте города, занятий спортом
                            и походов в гости к друзьям. Так вы не только сэкономите энергию,
                            но и приведете себя в форму.</p>
                    </li>
                    <li class="list-group-item">
                        <h6>3. Используйте компактные люминесцентные или светодиодные лампы.</h6>
                        <p>Пройдитесь по дому и подсчитайте количество установленных ламп накаливания.
                            Затем зайдите в магазин и купите компактные люминесцентные или светодиодные
                            лампы им на замену. Заменив старые лампочки, вы сэкономите много энергии.</p>
                    </li>
                </ol>
            </div>
    </div>
    <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="text-center">Вывод</h1>
                        <p class="lead text-center">Глобальное потепление очень отрицательно
                        влияет на животный мир земли, но это не повод опускать руки. Выше перечисленные методы помогут
                        спасти много животных и сохранить окружающую среду для потомков.</p>
                    </div>
                </div>
            </div>
    </div>
    <br>
    <a name="vote"><hr></a>
    <div class="row">
        <div class="col-12" >
            <h1 class="text-dark text-center" >А как вы считаете?</h1>
            <h1 class="text-secondary text-center">Глобальное потепление это...</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <a title="проголосовать!" href="/good" class="text-success"><h3 class="text-danger text-right" >ХОРОШО?<br>({{ rating.like }} человек(а) решили так)</h3></a>
        </div>
        <div class="col-4">
            <p class="text-info text-center">ИЛИ</p>
        </div>
        <div class="col-4">
            <a title="проголосовать!" href="/bad" class="text-danger"><h3 class="text-success text-left" >ПЛОХО?<br>({{ rating.dislike }} человек(а) решили так)</h3></a>
        </div>
    </div>


</div>
{% endblock %}